flows (2).json
[{"id":"2beed3a1.8ab02c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d2996ffc.ee66b","type":"debug","z":"2beed3a1.8ab02c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":520,"wires":[]},{"id":"c111d671.0b1b68","type":"function","z":"2beed3a1.8ab02c","name":"Temperature API","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":440,"wires":[["d2996ffc.ee66b","f5a5327b.e1fcc"]]},{"id":"b49f57fa.189268","type":"function","z":"2beed3a1.8ab02c","name":"Humidity API","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":600,"wires":[["d2996ffc.ee66b","9173094d.fd89b8"]]},{"id":"555f25c3.cdb22c","type":"ibmiot out","z":"2beed3a1.8ab02c","authentication":"apiKey","apiKey":"d8e81d39.e395","outputType":"cmd","deviceId":"Vin","deviceType":"1.0.6","eventCommandType":"Command","format":"json","data":"Data","qos":0,"name":"IBM IoT","service":"registered","x":700,"y":880,"wires":[]},{"id":"652c20ea.b87f2","type":"http request","z":"2beed3a1.8ab02c","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&appid=ee11c0d806105f1e26a07188f40483df","tls":"","persist":false,"proxy":"","authType":"","x":250,"y":520,"wires":[["c111d671.0b1b68","b49f57fa.189268","d2996ffc.ee66b"]]},{"id":"2b1f00b0.9a2e5","type":"inject","z":"2beed3a1.8ab02c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":660,"wires":[["652c20ea.b87f2"]]},{"id":"aa98764.b0dfe88","type":"ibmiot in","z":"2beed3a1.8ab02c","authentication":"apiKey","apiKey":"d8e81d39.e395","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":true,"qos":0,"x":150,"y":160,"wires":[["88d2d31b.dde82","1b03e796.b6ed38","1e626b42.80fe15"]]},{"id":"1b03e796.b6ed38","type":"function","z":"2beed3a1.8ab02c","name":"Temperature ","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":80,"wires":[["88d2d31b.dde82","a3d64ca8.93958"]]},{"id":"1e626b42.80fe15","type":"function","z":"2beed3a1.8ab02c","name":"Humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":240,"wires":[["88d2d31b.dde82","6b3da605.bae8e8"]]},{"id":"88d2d31b.dde82","type":"debug","z":"2beed3a1.8ab02c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":160,"wires":[]},{"id":"a3d64ca8.93958","type":"ui_gauge","z":"2beed3a1.8ab02c","name":"","group":"f4d2cd2b.5c003","order":4,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{value}}","min":0,"max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670,"y":80,"wires":[]},{"id":"6b3da605.bae8e8","type":"ui_gauge","z":"2beed3a1.8ab02c","name":"","group":"f4d2cd2b.5c003","order":5,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00ffff","#e6e600","#ca3838"],"seg1":"","seg2":"","x":600,"y":240,"wires":[]},{"id":"f5a5327b.e1fcc","type":"ui_text","z":"2beed3a1.8ab02c","group":"f4d2cd2b.5c003","order":2,"width":0,"height":0,"name":"","label":"Temperature API","format":"{{msg.payload}} kelvin","layout":"row-spread","x":830,"y":440,"wires":[]},{"id":"9173094d.fd89b8","type":"ui_text","z":"2beed3a1.8ab02c","group":"f4d2cd2b.5c003","order":3,"width":0,"height":0,"name":"","label":"Humidity API","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":600,"wires":[]},{"id":"922e4c7d.24115","type":"ui_button","z":"2beed3a1.8ab02c","name":"","group":"f4d2cd2b.5c003","order":4,"width":0,"height":0,"passthru":false,"label":"MOTOR ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motoron","payloadType":"str","topic":"","x":410,"y":800,"wires":[["555f25c3.cdb22c"]]},{"id":"66628803.4a5c38","type":"ui_button","z":"2beed3a1.8ab02c","name":"","group":"f4d2cd2b.5c003","order":5,"width":0,"height":0,"passthru":false,"label":"MOTOR OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"motoroff","payloadType":"str","topic":"","x":430,"y":980,"wires":[["555f25c3.cdb22c"]]},{"id":"d8e81d39.e395","type":"ibmiot","z":"","name":"test 1","keepalive":"60","serverName":"o4j58x.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"f4d2cd2b.5c003","type":"ui_group","z":"","name":"Smart Agriculture","tab":"b7772955.575988","order":1,"disp":true,"width":"6","collapse":false},{"id":"b7772955.575988","type":"ui_tab","z":"","name":"Smart Agriculture","icon":"dashboard","disabled":false,"hidden":false}]